.container{
    width: 100%;
    display: flex;
    justify-content: center; 
    margin-top: 100px;   
}

#ventanaLogin{
    width: 40%;
    text-align: center;
    background-color: gainsboro;
    border-color: black;
}

#ventanaLogin h1{
    color: black;
    font: 2.5em arial;
}

#ventanaLogin form{
    text-align: left;
}

.form-input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-label{
    font-size: large;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    font: 1em arial;
}

.btn{
    margin-top: 10px;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: lightseagreen;
    color: white;
    cursor: pointer;
}

.container_info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
}

.container_info header{
    width: 100%;
    background-color: rgb(15, 124, 233);
    display: flex;
    align-items: center;
}

.cabezera:hover{color: blue;}

.cabezera{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
}
#ventanaUsuario h1{
    background-color: rgb(156, 156, 156);
}

#tabladatos{
    table-layout: fixed;
}

td{
    text-align: center;
}

#opciones{
    display: grid;
    grid-template-columns: 10% 90%;
    margin-left: 10%;
    margin-right: 5%;
}

#opciones input{
    width: 15px;
    margin-left: 0px;
}